# format options
--header strip
--allman false
--elseposition same-line
--guardelse auto
--emptybraces spaced
--markextensions always
--stripunusedargs closure-only
--wraparguments after-first
--wrapparameters after-first
--wrapcollections before-first
--self init-only
--funcattributes same-line
--typeattributes prev-line
--redundanttype explicit

# file options
--exclude Tools,DerivedData

# rules
--disable marktypes,trailingCommas,wrapEnumCases,wrapMultilineStatementBraces,wrapSwitchCases
